body {
  min-width: 650px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-button {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  color: #333;
  padding: 10px 15px;
  margin: 0 8px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-size: 18px;
  font-weight: bold;
}

.pagination-button:hover {
  background-color: #e0e0e0;
}

.pagination-button.active {
  background-color: #af7800;
  color: white;
}

/* Header and Title */
.recipe-header {
  margin-top: 4.5rem;
  position: relative;
  height: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

@media (min-width: 768px) {
  .recipe-header {
    height: 350px;
  }
}

.recipe-title {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  position: absolute;
  bottom: 40px;
  left: 40px;
  line-height: 4rem;
  color: #006400;
  text-shadow: -1px -1px 5px #fff, 1px -1px 5px #fff, -1px 1px 5px #fff,
    1px 1px 5px #fff, 3px 3px 10px rgba(0, 0, 0, 0.9);
}

/* Container and Grid */
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 10px;
}

.recipe-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 36px;
  /* border-top: 2px solid #d9d9d9; */
  padding: 4rem 4rem;
}

@media (min-width: 1024px) {
  .recipe-grid {
    grid-template-columns: 2fr 1fr;
  }
}

/* Search Box */
.search-container {
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.694);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

.recipes-search-box {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  border-radius: 50px;
  padding: 0 15px;
}

.search-input {
  width: 100%;
  background: transparent;
  border: none;
  padding: 0 0px;
  outline: none;
  font-size: 1.1rem;
  font-weight: 500;
}

/* Ingredients List */
.ingredients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 16px;
}

.recipes-ingredient {
  background-color: #a5d157;
  color: #295143;
  border-radius: 50px;
  padding: 4px 16px;
  cursor: pointer;
  font-size: 1rem; /* Increased font size */
  font-weight: 600;
  padding: 8px 20px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.recipes-ingredient:hover {
  transform: scale(1.05);
  background-color: #8cb447;
}

.ingredient:hover {
  background-color: #228b22;
}

.recipes-ingredient.selected {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #a5d157;
  color: 295143;
  transition: all 0.3s ease;
}

.recipes-ingredient.selected:hover {
  background-color: #8cb447;
}

.recipes-icon-remove {
  cursor: pointer;
  color: white;
  width: 16px;
  height: 16px;
}

/* Selected Ingredients */
.selected-container {
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

.selected-header {
  display: flex;
  justify-content: center;
}

.recipes-selected-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 20px;
  background-color: white;
  border-radius: 50px;
  font-size: 1.1rem; /* Increased font size */
  font-weight: 600;
}

/* Generate Button */
.btn-generate {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
}

.btn-generate-recipe {
  background-color: #f3ba3e;
  color: white;
  padding: 18px 28px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease; /* Smooth transition for hover effect */
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.9);
}

.btn-generate-recipe:hover {
  background-color: #e8a82e;
  transform: scale(1.05);
}

/* Recipe Preview */
.main-recipe-preview {
  display: flex;
  justify-content: center;
  margin: 0 0;
  width: 100%;
}

.mian-recipe-card {
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.721);
  padding: 30px;
  border-radius: 20px;
  align-items: center;
  gap: 46px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.mian-recipe-card img {
  width: 17rem;
  height: 14rem;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.mian-recipe-name {
  max-width: fit-content;
  background-color: #a5d157;
  color: #295143;
  padding: 5px 25px;
  border-radius: 10px;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.mian-recipe-details {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #295143;
}

.btn-checkout-recipe {
  margin-top: 0.5rem;
  background-color: #f3ba3e;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  color: white;
  padding: 16px 24px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.9);
  transition: all 0.3s ease;
}

.btn-checkout-recipe:hover {
  background-color: #e8a82e;
  transform: scale(1.05);
}

/* Share Recipe Section */
.share-recipe-section {
  display: flex;
  position: relative;
  margin-top: 56px;
}

.share-recipe-image {
  flex: 1;
  height: 100%;
  height: 400px;
  overflow: hidden;
  box-shadow: 0 -10px 15px -5px rgba(0, 0, 0, 0.5),
    0 10px 15px -5px rgba(0, 0, 0, 0.5);
}

@media (min-width: 1200px) {
  .share-recipe-image {
    height: 420px;
  }
}

.share-recipe-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.share-recipe-box {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  padding: 40px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.6);
}

@media (min-width: 1200px) {
  .share-recipe-box {
    width: 550px;
  }
}

.share-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 1200px) {
  .share-title {
    font-size: 2.4rem;
  }
}

.main-btn-share {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.btn-share-recipe {
  background-color: #f3ba3e;
  color: white;
  padding: 16px 24px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

@media (min-width: 1200px) {
  .btn-share-recipe {
    padding: 18px 26px;
    font-size: 20px;
  }
}

.btn-share-recipe:hover {
  background-color: #e8a82e;
  transform: scale(1.05);
}

/* Recipes List */
.main-recipes-list {
  background-color: #f3ba3e;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1450px;
  padding: 40px 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
  margin: 60px auto;
}

@media (max-width: 1470px) {
  .main-recipes-list {
    max-width: 800px;
  }
}

.main-recipes-container {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100%;
  /* background-color: red; */
  margin: 0 auto;
  flex-direction: column;
  gap: 50px;
}
@media (min-width: 1470px) {
  .main-recipes-container {
    grid-template-columns: 1fr 1fr;
  }
}

.no-recipes {
  text-align: center;
}

.btn-show-more {
  display: flex;
  justify-content: center;
}
.main-btn-show-more-recipe-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.main-btn-show-more-recipe {
  background-color: #a5d157;
  color: #006400;
  padding: 16px 30px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}

.main-btn-show-more-recipe:hover {
  background-color: #93bb4d;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .recipe-card {
    flex-direction: column;
    align-items: center;
  }
}
